<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <target>System.err</target>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDERR" />
    </root>

    <logger name="org.apache" level="ERROR" />
    <logger name="org.jetbrains.kotlin.org.apache" level="ERROR" />
    <logger name="httpclient" level="ERROR" />
    <logger name="org.jetbrains.kotlin.httpclient" level="ERROR" />
    <logger name="org.eclipse.aether" level="DEBUG" />
    <logger name="org.jetbrains.kotlin.org.eclipse.aether" level="DEBUG" />
</configuration>
