{
  "argv": [ "java", "-jar", "${DEBUGGER_CONFIG}", "${KERNEL_JAR_PATH}", "{connection_file}", "-cp=${RUNTIME_CLASSPATH}", "-libs=${LIBRARIES_PATH}"],
  "display_name": "Kotlin",
  "language": "kotlin"
}